@import "@/utils/scss/patterns";

.product {
  @extend %section;
  display: flex;
  flex-grow: 1;
  height: auto;
  max-width: calc(100% - 324px);
  padding: 24px;
  column-gap: 32px;
  color: var(--light);
}

.images {
  display: flex;
  gap: 20px;

  .current {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
  }

  .images-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    cursor: pointer;
  }
}

.info {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  .price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0 20px 0;
  }
}

.color,
.sizes {
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  display: flex;
  column-gap: 16px;
  align-items: center;

  span {
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-sea);
  }
}

.sizes {
  margin: 16px 0;

  .list {
    display: flex;
    align-items: center;
    column-gap: 5px;

    .size {
      padding: 4px 8px;
      border-radius: 8px;
      background: var(--bg);
      cursor: pointer;

      &:hover,
      &.active {
        background: var(--violet);
      }
    }
  }
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray);
}

.actions {
  margin-top: 20px;
  display: flex;
  column-gap: 10px;

  .favourite {
    background: var(--dark-sea);
    border-radius: 6px;

    &:hover {
      background: #7a8690;
    }
  }

  .add {
    &:hover {
      background-color: var(--violet);
    }

    &:disabled {
      cursor: not-allowed;
      background: var(--bg);
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  line-height: 12px;
  color: var(--dark-sea);
  margin-top: auto;

  .link_home {
    color: var(--white);
  }
}
