@import "@/utils/scss/patterns";

.header {
  @extend %dflex;
  width: 100%;
  padding: 25px 20px;

  .logo {
    width: 305px;
  }

  .info {
    @extend %dflex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
