$wh_icon: 16px;

.notification {
  display: grid;
  column-gap: 30px;
  align-items: center;
  grid-template-columns: 350px 100px $wh_icon;
  position: fixed;
  top: 25px;
  right: 20px;
  background-color: var(--dark-sea);
  padding: 20px;
  border-radius: 6px;

  .text {
    .title {
      margin-bottom: 15px;
    }

    .message {
      font-size: 12px;
      line-height: 1.5;

      span {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }

  .close {
    margin-top: 1px;
    cursor: pointer;

    svg {
      stroke: rgba(255, 255, 255, 0.5);
    }

    &:hover svg {
      stroke: rgba(255, 255, 255, 1);
    }
  }
}

.icon {
  width: $wh_icon;
  height: $wh_icon;
}
