.notification {
  display: grid;
  column-gap: 30px;
  align-items: center;
  grid-template-columns: 310px 100px;
  background-color: var(--dark-sea);
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;

  .text {
    .title {
      margin-bottom: 15px;
    }

    .message {
      font-size: 12px;
      line-height: 1.5;

      span {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
