@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Sofia+Sans:wght@300;500;700&display=swap");
@import "@/utils/scss/patterns";
@import "@/utils/scss/var";

body {
  color: var(--white);
  background-color: var(--bg);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  font-family: Montserrat, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: Montserrat, Roboto, sans-serif;
}

button {
  font-size: 16px;
  color: var(--white);
  background: var(--violet-dark);
  border-radius: 6px;
  padding: 9px 20px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background: var(--violet);
  }
}

.preloader {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
